// Load CSS Reset from NPM
@import "~normalize.css";

html,
body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: url("../images/giphy.webp");
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: monospace;
  text-transform: uppercase;
  border: 5px solid white;
  padding: 0.5em;
  color: #fff;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-align: center;
}
